.cercle1{
    width: 600px;
    height: 600px;
    border-radius: 100%;
    background: red;
    position: relative;
    
}

.cercle2
{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background: green;  
    position: absolute;
    top: 17%;
    left: 17%;
}

.cercle3
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background:blue;  
    position: absolute;
    top: 25%;
    left: 25%;
}



        